body {
    background-color:#0d1219;
}

#card-header{
    background-color: #0d1219;
    color: #fff;
}

#card-body{
    background-color: #0d1219;
    color: #fff;
}

#card-footer{
    background-color: #0d1219;
    color: #fff;
}