.main h1{
    font-size: large;
    color: aqua;
    font-weight: bold;
}
p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline;
}