.titlesinhala h1{
    font-size: 500%;
    color: black;
    font-weight: bold;
}
.titleenglish h1{
    font-size: 300%;
    color: black;
    font-weight: none;
}
p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
}