*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;

}

html::-webkit-scrollbar{
    width: 1rem;
}
html::-webkit-scrollbar-track{
    background: white;
}
html::-webkit-scrollbar-thumb{
    background: black;
}


.reviews .slide .text {
    padding: 2rem;
    font-size: 1.6rem;
    background: #eee;
    border-radius: 5rem;
    color: black;
    line-height: 2;
    position: relative;
    z-index: 0;
    margin-bottom: 3rem;
}

.reviews .slide .user {
    display: flex; 
    align-items: center;
    gap: 1rem;
  }

  .reviews .slide .user img {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
  }

  .reviews .slide .user h3 {
    font-size: 2rem;
    color: #10221b;
  }


