@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
    font-size:14px;
}
.t{

    position: relative;
    
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column ;
    background:url(hospital.jpeg);
    background-size: cover;
}

html{
    font-size: 73.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
    scroll-padding-top:7rem ;

}

html::-webkit-scrollbar{
    width: 1rem;
}
html::-webkit-scrollbar-track{
    background: white;
}
html::-webkit-scrollbar-thumb{
    background: black;
}

section{
    padding: 5rem 9%;
}



.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 2rem 9%;
    z-index: 1000;
    display: flex;
    align-items: center;
    
}

.header .logo{
    margin-right: auto;
    font-size: 2.5rem;
    font-weight: bolder;
    color: black;

}
i{
    color: rgb(0, 183, 255);
}

.header .navbar a{
    margin-left: 2rem;
    font-size: 1.7rem;
    color: rgb(63, 61, 61);
    
}

.header .navbar a:hover{
    color: rgb(226, 27, 27);
}

.header .navbar #nav-close{
    font-size: 4rem;
    cursor: pointer;
    color: black;
    display: none;
}
.header .icon{
    font-size: 2.5rem;
    margin-left: 2.5rem;
    cursor: pointer;
    color: black;
}

.header .icon:hover{
    color: green;
}

.header #menu-btn{
    display: none;
}


.home {
    padding: 0;
}




.home .box {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-size: cover !important;
    background-position: center !important;
    justify-content: flex-end;
    padding: 2rem 9%;
    
}

.home .box.second{
    justify-content: flex-start;
}

.home .box .content {
    width: 50rem;
  }
  
  .home .box .content span {
    font-size: 4rem;
    color: black;
  }

  .home .box .content h3 {
    font-size: 6rem;
    color: rgb(223, 119, 50);
    padding-top: .5rem;
    text-transform: uppercase;
    font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .home .box .content p {
    line-height: 2;
    color: black;
    font-size: 1.5rem;
    padding: 1rem 0;
  }

.swiper-button-next::after,
.swiper-button-prev::after{
    font-size: 3rem;
    color: black;
}


.about{


    display:flex;
    align-items:center;
    flex-wrap:wrap;
    gap:2rem;
}
.content{
   
    flex: 1 1 42rem;
    
}
h3{
    font-size: 4.5rem;
    color: rgb(180, 64, 35);
    font-family: 'Comfortaa', cursive;
}
img{
    width:100%;
    
}


.image{
    
    flex:1 1 42rem;
    padding-right:5rem;
    padding-bottom:5rem;


    
}
p{
    font-size: 1.5rem;
    color: rgb(48, 45, 45);
    padding: 1.2rem 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    font-size: 1.5rem;
    color: rgb(233, 210, 210);
    padding: 1.2rem 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

h2{

    font-size: 2.5rem;
    color: rgb(190, 250, 187);
    padding: 1.2rem 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


b{
    font-size: large;
    color: rgb(244, 250, 193);
}
























/* media queries */
@media(max-width:1200px){
    .header{
        padding: 2rem;
    }
    section{
        padding: 3rem 2rem;
    }
}

@media(max-width:991px){
    html{
        font-size: 55%;
    }
    .home .box{
        padding: 2rem;
        justify-content: center;
        background-position: right  !important; 
    }
    .home .box .box.second{
        justify-content: center;
        background-position: left !important;
    }
    .home .box .content {
        text-align: center;
    }

    .home .box .content span {
        font-size: 3rem;
    }

    .home .box .content h3 {
        font-size: 4rem;
    }


}

@media(max-width:768px){
    .header #menu-btn{
            display: inline-block;
    }
    .header .navbar{
        position: fixed;
        top: 0;
        left: -110%;
        background: white;
        z-index: 10000;
        width: 35rem;
        height: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center; 
        
    }
    .header .navbar.active{
        left: 0;
        box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
        
    }
    .header .navbar a{
        margin: 1rem 0;
        font-size: 3rem;
    }

    .header .navbar #nav-close{
        display: block;
        position: absolute;
        top: 1rem;
        right: 2rem;
    }

    .swiper-button-next::after,
    .swiper-button-prev::after{
    display: none;

}

}
@media(max-width:450px){
    html{
        font-size: 50%;
    }
}
